img {
    width: 60px;
    max-height: 200px;
    padding-top: 10px;
}

nz-card {
    border-radius: 2px;
    /* min-width: 200px; */
}

::ng-deep.ant-card-cover {
    height: 200px;
    display: flex;
    justify-content: center;
}

.img-content{
    display: flex;
    justify-content: center;
}

::ng-deep.ant-card-head {
    height: 0px;
}